*{
    font-family: "Comic Sans";
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 200%;
    padding: 40px;
    background-color: darkblue;
    color: white;
}

nav {
    display: flex;
    font-size: 110%;
    background-color: #d8a47f;
    color: #13293d;
    padding: 14px 20px;
    justify-content: flex-end;
}

li {
    list-style: circle;
}